<link rel="stylesheet" href="application.css" type="text/css"/>
<body>
 <header>
   

   <%= image_tag("croquet_6.gif", alt:"logo") %>
   
<h1>Cheam Croquet and Bowls Club</h1>
   
   
 
 

</header>
</body>